h1 {
    color: white;
    background: black;
    text-align: center;
    font-size: 100px;
    margin: -10.5px;
    padding: 2px;
    border: 100px;
}
p {
    color: blue;
    text-size-adjust: 50px;
}
.main-nav {
    float: right;
    list-style: none;
    margin-top: 30px;
}

.main-nav li {
    display: inline-block;
}
.main-nav li a
{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-size: 15px;
}